[Desktop Entry]
Name=weatherTray
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/weatherTray/weatherTray
Icon=/media/sonichy/job/HY/Linux/Qt/weatherTray/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/weatherTray
Terminal=false
Type=Application
MimeType=
Categories=