[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/media/administrator/工作/HY/Linux/Qt/weatherTray/Qt4/weatherTray
Icon=/media/administrator/工作/HY/Linux/Qt/weatherTray/Qt4/icon.ico
Path=/media/administrator/工作/HY/Linux/Qt/weatherTray/Qt4
Categories=Application;
Name[zh_CN]=托盘天气